<div class="row">
	<div class="col s12">
		<h1>
			<% if(type=='arrivals'){
				var oppositeType = "departures";
				var oppositeName = "Salidas"; 
			%>Llegadas (Arrivals)<% } %>

			<% if(type=='departures'){ 
				var oppositeType = "arrivals";
				var oppositeName = "Llegadas"; 
			%>Salidas (Departures)<% } %>
		</h1>

		<blockquote>
			<b><%= code %></b> <%= name %><br>
			<a href="#!" onclick="getBoard('<%= code %>', '<%= oppositeType %>')">Cambiar a <%= oppositeName %></a>
		</blockquote>

		<table class="striped">
		<thead>
			<tr>
				<th></th>
				<th>Número</th>
				<th>Salida</th>
				<th>Llegada</th>
			</tr>
		</thead>
		<tbody>
			<% board.forEach(function(flight){ %>
				<tr>
					<td>
						<% if(flight.type=='Scheduled'){ %><i class="material-icons">schedule</i><% } %>
						<% if(flight.type=='Departed'){ %><i class="material-icons">flight_takeoff</i><% } %>
						<% if(flight.type=='Enroute'){ %><i class="material-icons">flight</i><% } %>
						<% if(flight.type=='Arrived'){ %><i class="material-icons">flight_land</i><% } %>
					</td>
					<td><span class="tag"><%= flight.number %></span></td>
					<td>
						<div class="large"><%= flight.departuretime %></div>
						<%= flight.originCity %>
					</td>
					<td>
						<div class="large"><%= flight.arrivaltime %></div>
						<%= flight.destinationCity %>
					</td>
				</tr>
			<% }); %>
		</tbody>
		</table>
	</div>
</div>

<div class="bottom-space"></div>

<!-- BACK -->
<div class="fixed-action-btn">
	<a class="btn-floating btn-large waves-effect waves-light green" href="#!" onclick="apretaste.send({'command':'VUELOS'})">
		<i class="material-icons">arrow_back</i>
	</a>
</div>